img {
    float: left;
}

h1 {
    border-bottom-style: inset ;
}

.divHead {
    display: flex;
    flex-direction: row;
    gap:20px;
}

.divContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

